body{
    background-color: gray;
    font-family: sans-serif;
    margin: 0;
}
header{
    overflow: hidden;
    margin: 0;
    top: 0;
    height: 75px; 
    background: url(./img/header2.jpeg);
    background-size: cover;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     width: 100%;
    position: fixed;

}
a{
    text-decoration: none;
    color: blanchedalmond;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    height: 80px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
}
main{
    margin-top: 10px;
}
nav {
    float: left;
    display: flex;
        overflow: hidden;
        margin: 0;
        top: 0;
        height: 20px; 
         justify-content:space-around;
         padding: 10px;
         width: 100%;
        position: fixed;
}
nav a:hover{
    color: blanchedalmond;
}
.item{
    
    margin-top: 40px;
    scroll-margin-top: 12ex;
}
h3{
    border: 1px solid  blanchedalmond;
    text-align: center;
}
h2{
    color: blanchedalmond;
}
.lista{
    color: blanchedalmond;
}
html{
    scroll-behavior: smooth;
}





